<ul>
  <li>
    <%= profile.user.name %>
  </li>
  <li>
    Gender: <%= profile.gender %>
  </li>
  <li>
    Birthday: <%= profile.birthday %>
  </li>
  <li>
    Location: <%= profile.country %>
  </li>
</ul>
