<h1 class="text-center text-2xl font-bold text-slate-800 mb-4">
  Edit Profile
</h1>

<div class="md:shadow-lg pt-4 border border-gray-300 flex flex-col justify-center
            items-center rounded-md w-1/2 md:w-1/3 min-w-[320px] max-w-[500px]
            mx-auto my-0"
>
  <%= render "form", profile: @profile %>
</div>
