<h1><%= @profile.user.name %>'s Profile</h1>
<%= gravatar_for(@profile.user) %>
<% if @profile.complete? %>
  <%= link_to "Edit Profile", edit_user_profile_path(current_user) %>
<% else %>
  <p>You haven't finished your profile.</p>
  <%= link_to "Finish Profile", edit_user_profile_path(current_user) %>
<% end %>
