<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Welcome to Coffee Book, <%= @user.name %></h1>
    <p>
      You have successfully signed up. To login to the site, just follow this
      link: <%= @url %><br>
    </p>
    <p>Thanks for joining!</p>
  </body>
</html>>

