<div>
  <p class="font-bold">
    <%= comment.commenter.name %>
  </p>
  <p>
    <%= comment.body %>
  </p>
  <%= link_to "Edit Comment", edit_comment_path(comment) %>
  <%= button_to "Delete Comment", comment_path(comment), method: :delete %>
</div>
