<div class="shadow-lg w-full rounded-md p-4 border border-gray-300 flex
            justify-between min-w-[300px] flex-col gap-2"
>
  <p>
  <%= link_to comment.commenter_name,
    user_path(comment.commenter),
    class: "font-bold underline underline-offset-2 hover:text-gray-800
            hover:no-underline transform" %> commented:
  </p>
  <p class="break-words">
    <%= comment.body %>
  </p>
  <% if comment.commenter == current_user %>
    <%= render "comments/controls", comment: comment %>
  <% end %>
</div>
