<div class="ml-auto flex gap-2">
  <%= button_to edit_comment_path(comment),
    method: :get,
    class: "btn border-2 border-slate-800 rounded-md p-0.5 text-slate-800
            hover:bg-slate-800 hover:text-white",
    aria: { label: "Edit Comment" } do %>
      <%= inline_svg_tag("icons/pencil.svg", class: "w-6 h-6") %>
  <% end %>
  <%= button_to comment_path(comment),
    method: :delete,
    class: "btn border-2 border-red-600 rounded-md p-0.5 text-red-600
            hover:bg-red-600 hover:text-white",
    aria: { label: "Delete Comment" } do %>
      <%= inline_svg_tag("icons/delete.svg", class: "w-6 h-6") %>
  <% end %>
</div>
