<div class="flex flex-col items-center min-w-[33%]">
  <%- if controller_name != 'sessions' %>
    <p class="mb-12">
      Already  have an account?
      <%= link_to "Log in",
        new_session_path(resource_name),
        class: "text-slate-800 hover:text-slate-700 transition underline
                underline-offset-4 hover:no-underline"
      %>
    </p>
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <p class="mb-12">
      Don't have an account yet?
      <%= link_to "Sign up",
        new_registration_path(resource_name),
        class: "text-slate-800 hover:text-slate-700 transition underline
                underline-offset-4 hover:no-underline"
      %>
    </p>
  <% end %>

  <hr class="w-full h-0.5 bg-black mb-2">

  <h3 class="text-lg mb-1">Or Log In With:</h3>
  <%= button_to user_github_omniauth_authorize_path,
    data: { turbo: false },
    class: "btn bg-[#181717] hover:text-[#181717] hover:border-[#181717]
            flex items-center" do
  %>
    <%= inline_svg_tag("icons/github.svg", class: "mr-2 w-4 h-4") %> GitHub
  <% end %>
</div>
