<h1>Your Notifications</h1>

<ul>
  <% @notifications.each do |notification| %>
    <li>
      <%= link_to "Friend Request", friend_request_path(notification.friend_request) %>
    </li>
  <% end %>
</ul>
