<h1>Your Notifications</h1>

<ul>
  <% @notifications.each do |notification| %>
    <li>
      <%= notification.message %>
      <%= link_to "View",
        send(notification.url, notification.notifiable_id)
      %>
    </li>
  <% end %>
</ul>
