<h1 class="text-center text-2xl font-bold mb-4 text-slate-800">
  Find Friends
</h1>

<div class="flex flex-col items-center w-1/2 mx-auto gap-4">
  <% if @users.exists? %>
    <%= render @users, current_user_friendships: @current_user_friendships %>
  <% else %>
    <p class="text-center text-lg text-red-700">No users matched this search.</p>
  <% end %>
</div>
