<div class="relative" data-controller="dropdown">
  <button type="button"
          data-action="dropdown#toggleVisibility click@window->dropdown#hide"
  >
  <%= image_tag avatar_url_for(current_user.profile, variant: :icon),
      class: "rounded-full border-2 border-slate-500",
      data: { dropdown_target: "toggle" } %>
  </button>

  <div
    data-dropdown-target="menu"
    class="hidden absolute transition transform right-0 border border-black
           bg-slate-700 rounded-md"
  >
  <%= link_to "Profile",
    user_path(current_user),
    class: "px-3 py-1 hover:bg-slate-800 rounded-md w-full",
    data: { action: "dropdown#toggleVisibility" }
  %>
  <%= link_to "Logout",
    destroy_user_session_path,
    class: "px-2 py-1 hover:bg-slate-800 rounded-md",
    data: { action: "dropdown#toggleVisibility", turbo_method: :delete }
  %>
  </div>
</div>
