<div>
  <p>You have a friend request from <%= @friend_request.sender.first_name %></p>
  <div>
    <% if @friend_request.accepted? %>
      <p>You are already friends</p>
    <% else %>
      <%= button_to "Confirm Request", confirm_request_path(@friend_request), method: :patch %>
    <% end %>
    <%= button_to "Reject Request", friend_request_path(@friend_request), method: :delete %>
  </div>
</div>
