<div class="flex flex-col shadow-lg border border-gray-300 rounded-md">
  <p class="p-4">
    You haven't made your first post yet.
    Click the New Post button and tell us how much you love coffee!
  </p>
</div>
