<div class="flex justify-between">
  <%= link_to "Edit Post",
    edit_post_path(post),
    class: "p-2 w-full text-center"
  %>
  <%= link_to "Delete Post",
    post_path(post),
    class: "p-2 w-full text-center",
    data: { turbo_method: :delete }
  %>
</div>
