<div class="md:gap-4 relative md:flex md:static" data-controller="dropdown">

  <button type="button"
          data-action="dropdown#toggleVisibility click@window->dropdown#hide"
          class="md:hidden"
  >
    <%= inline_svg_tag(
      "icons/dots-horizontal.svg",
      class: "h-6 w-6 text-white",
      data: { dropdown_target: "toggle" }
    ) %>
  </button>

  <div data-dropdown-target="menu"
       class="hidden md:flex md:gap-2 absolute md:static bg-slate-700 transition
              transform right-0 border border-black md:border-none rounded-md
              md:bg-slate-600 md:transform-none">
    <%= link_to "Edit",
      edit_post_path(post),
      class: "px-3 py-1 rounded-t-md md:rounded-md block w-full md:text-center
              md:border-slate-800 md:font-bold hover:text-slate-600 md:border-2
              hover:bg-slate-200 md:hover:bg-white md:hover:border-slate-600",
      data: { action: "dropdown#toggleVisibility" }
    %>
    <%= link_to "Delete",
      post_path(post),
      class: "px-3 py-1 w-full md:text-center md:border-2 rounded-b-md block
              md:rounded-md md:border-red-700 md:font-bold hover:text-red-600
              hover:bg-slate-200 md:hover:bg-white hover:border-slate-600",
      data: { action: "dropdown#toggleVisibility", turbo_method: :delete }
    %>
  </div>
</div>
