<h1>Your Timeline</h1>

<%= link_to "New Post", new_post_path %>

<div>
  <% @posts.each do |post| %>
    <%= post.body %>
    <%= link_to "View Post", post_path(post) %>
    <%= link_to "Delete Post", post_path(post) %>
      post_path(post),
      data: { turbo_method: :delete } %>
  <% end %>
</div>
