<div class="flex flex-col items-center">
  <h1 class="text-center text-2xl font-bold text-slate-800">
    Timeline
  </h1>


  <div class="flex flex-col gap-4 w-1/2 min-w-[320px] max-w-[500px]">
    <%= link_to "+ New Post",
      new_post_path,
      class: "mx-auto lg:ml-auto lg:mr-2 btn-secondary btn"
    %>

    <% if @posts.exists? %>
      <%= render @posts %>
    <% else %>
      <%= render "empty" %>
    <% end %>
  </div>
</div>
