<h1>Your post</h1>

<%= render @post, post: @post, user_like: @post.find_like_from(current_user) %>

<h2>Comments:</h2>
<%= render @post.comments %>

<h2>Add Comment:</h2>
<%= render "comments/form", comment: [@post, @post.comments.build] %>
